@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);



#ext_menu-p .navbar-toggler {
  color: #000000;
}
#ext_menu-p .navbar-nav .btn {
  font-family: 'Noto Sans', sans-serif;
}
#features1-1 H4 {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#features1-b H4 {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}

#menu-c .navbar-toggler {
  color: #000;
}
#menu-c .nav-link {
  font-family: 'Oswald', sans-serif;
}

#menu-g .navbar-toggler {
  color: #000;
}
#menu-g .nav-link {
  font-family: 'Oswald', sans-serif;
}

#menu-j .navbar-toggler {
  color: #000;
}
#menu-j .nav-link {
  font-family: 'Oswald', sans-serif;
}


#menu-m .navbar-toggler {
  color: #000;
}
#menu-m .nav-link {
  font-family: 'Oswald', sans-serif;
}
#msg-box5-q .mbr-section-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}

#ext_menu-r .navbar-toggler {
  color: #000000;
}
#ext_menu-r .navbar-nav .btn {
  font-family: 'Noto Sans', sans-serif;
}
#msg-box5-u .mbr-section-title {
  color: #ffffff;
}
#msg-box5-u .lead P {
  color: #ffffff;
}
